<header class="flex w-[100%] justify-between px-4 py-2 align-baseline">
    <div><h1>Cathedral</h1></div>
    <div class="flex gap-4">
        @if (authService.creds()) {
            <p-menu #menu [popup]="true" [model]="menuItems">
                <ng-template pTemplate="item" let-item>
                    <a [routerLink]="item.link">{{ item.label }}</a>
                </ng-template>
            </p-menu>
            <button type="button" (click)="menu.toggle($event)">Menu</button>
        } @else {
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
        }
    </div>
</header>
