header {
    background: var(--surface-card);
    display: grid;
    grid-template:
        'title nav menu'
        'bread bread bread' auto / 1fr 1fr 1Fr;
    width: 100%;
    padding: 0.5rem 1rem;
    align-items: normal;

    h1 {
        grid-area: title;
        justify-self: left;
    }

    app-navigation {
        grid-area: nav;
        justify-self: center;
    }

    div.menu {
        grid-area: menu;
        justify-self: right;

        display: flex;
        gap: 0.5rem;
        margin: auto 0;
    }

    div.bread {
        grid-area: bread;
        justify-self: left;
    }
}

:host ::ng-deep .p-breadcrumb {
    background: var(--surface-card);
    border: 0px;
    padding: 0px 0px;
}
