div.container {
    display: grid;
    height: 100vh;
    grid-template:
        'head head head'
        'main main main' 1fr
        'foot foot foot' auto / auto 1fr auto;

    app-header {
        grid-area: head;
    }

    main {
        grid-area: main;
    }

    app-footer {
        grid-area: foot;
    }
}
