div.container {
    height: 100%;
    display: grid;
    grid-template:
        'nav head' 3rem
        'nav main' 1fr
        / auto 1fr;

    app-navbar {
        grid-area: nav;
    }

    app-header {
        grid-area: head;
    }

    main {
        grid-area: main;
        padding: 1rem;
    }
}
