div.container {
    display: grid;
    grid-template:
        'head bread'
        'head main' 1fr
        'foot foot' auto / auto 1fr;

    gap: 0.5rem;

    height: 100vh;
    padding: 5px;

    app-header {
        grid-area: head;
    }

    app-breadcrumbs {
        grid-area: bread;
    }

    main {
        grid-area: main;
    }

    app-footer {
        grid-area: foot;
    }
}
