.eslintrc.json
.git
.gitattributes
.github
.gitignore
.gitkeep
.prettierignore
.prettierrc
.release-it.json
.vscode
*.spec.ts
/bin
/build
/coverage
/docs
/logs
./frontend/node_modules

docker-compose.yml
Dockerfile*
README.md
