form {
    display: flex;
    flex-direction: column;
    gap: var(--form-fields-gap);

    padding: 1rem;

    border-radius: 5px;

    background-color: var(--surface-card);

    div.genres {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

:host ::ng-deep .p-chips,
:host ::ng-deep .p-chips .p-chips-multiple-container {
    width: 100%;
}

:host ::ng-deep .remove-description,
:host ::ng-deep .remove-link {
    margin-top: 1rem;
}
