<div class="container">
    @if (authService.status() === 'authenticating') {
        <p-progressSpinner></p-progressSpinner>
    } @else {
        <form [formGroup]="loginForm">
            <div>
                <app-text-input
                    [label]="'email'"
                    [type]="'email'"
                    [parentForm]="loginForm"
                    [inputName]="'email'"></app-text-input>
                <app-text-input
                    [label]="'password'"
                    [type]="'password'"
                    [parentForm]="loginForm"
                    [inputName]="'password'"></app-text-input>
            </div>
            <p-button
                label="Login"
                severity="primary"
                [raised]="true"
                type="submit"
                (click)="onSubmit()"
                class="self-center"
                [disabled]="loginForm.untouched || !loginForm.valid"></p-button>
            @if (authService.error()) {
                <span>{{ authService.error()?.message }}</span>
            }
        </form>
    }
</div>
