<div class="login-container">
    @if (authService.status() === 'authenticating') {
        <p-progressSpinner></p-progressSpinner>
    } @else {
        <form [formGroup]="loginForm">
            <div>
                <label for="email">Email</label>
                <input id="email" type="email" formControlName="email" />
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" type="password" formControlName="password" />
            </div>
            <button type="submit" (click)="onSubmit()">Login</button>
            @if (authService.error()) {
                <span>{{ authService.error()?.message }}</span>
            }
        </form>
    }
</div>
