<div class="container">
    <img [src]="artist().image" [alt]="artist().name" />
    <h2 class="name">{{ artist().name }}</h2>
    <div class="genres">{{ artist().genres }}</div>
    <a [href]="artist().mainLink" class="main-link">{{ artist().mainLink }}</a>
    <div class="links">
        @for (link of artist().links; track link; let i = $index) {
            <app-link-display [link]="link" class="link"></app-link-display>
        }
    </div>
    <div class="descs">
        @for (description of artist().descriptions; track description) {
            <p-divider></p-divider>
            <div class="desc">
                <div [ngClass]="['lang', description.lang | lowercase]"></div>
                {{ description.description }}
            </div>
        }
    </div>
</div>
