div.container {
    --img-height: 20vh;
    --img-ratio: 910/512;

    background-color: var(--p-surface-card);
    padding: 1rem;
    border-radius: var(--p-border-radius);

    display: grid;
    grid-template:
        'img img' var(--img-height)
        'name mainLink'
        'genres links'
        'descs links' / 3fr 1fr;
    gap: var(--form-fields-gap);

    img {
        grid-area: img;

        justify-self: center;

        height: var(--img-height);
    }

    .name {
        grid-area: name;
    }

    .genres {
        grid-area: genres;
    }

    .descs {
        grid-area: descs;

        .desc {
            .lang {
                height: 1rem;
                margin-bottom: 0.5rem;

                background-repeat: no-repeat;

                &.en {
                    background-image: url('/assets/en.svg');
                }

                &.fr {
                    background-image: url('/assets/fr.svg');
                }
            }
        }
    }

    .main-link {
        grid-area: mainLink;
        align-content: center;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .links {
        grid-area: links;

        display: flex;
        flex-direction: column;

        app-link-display.link {
            &:not(:first-child) {
                margin-top: 0.5rem;
            }
        }
    }
}
