/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';

:root {
    --form-fields-gap: 1rem;
}

body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background: var(--surface-ground);
}
