<div class="flex h-[100%] justify-center">
    @switch (registerService.status()) {
        @case ('inprogress') {
            <p-progressSpinner></p-progressSpinner>
        }
        @case ('success') {
            <div>
                <p>Registration successfull, check your inbox for the activation link</p>
                <button routerLink="/login">Return to Home</button>
            </div>
        }
        @default {
            <form
                [formGroup]="registerForm"
                class="flex flex-col gap-8 self-center rounded border-2 border-solid border-black px-5 py-8">
                <div class="flex flex-col gap-4">
                    <div>
                        <app-text-input
                            [label]="'email'"
                            [type]="'email'"
                            [parentForm]="registerForm"
                            [inputName]="'email'"></app-text-input>
                        @if (controls.email.dirty && controls.email.hasError('emailUnique')) {
                            <span>Email already in use</span>
                        }
                    </div>
                    <div>
                        <app-text-input
                            [label]="'username'"
                            [type]="'text'"
                            [parentForm]="registerForm"
                            [inputName]="'username'"></app-text-input>
                        @if (
                            controls.username.dirty && controls.username.hasError('usernameUnique')
                        ) {
                            <span>Username already in use</span>
                        }
                    </div>
                    <div>
                        <app-text-input
                            [label]="'password'"
                            [type]="'password'"
                            [parentForm]="registerForm"
                            [inputName]="'password'">
                        </app-text-input>
                        @if (controls.password.dirty && controls.password.hasError('pattern')) {
                            <span
                                >Password must contain:
                                <ul>
                                    <li>at least 12 characters</li>
                                    <li>at least one lowercase character</li>
                                    <li>at least one uppercase character</li>
                                    <li>at least one number</li>
                                    <li>
                                        at least one charachter from the following list: !&#64;$%*^&
                                    </li>
                                </ul>
                            </span>
                        }
                    </div>
                    <div>
                        <app-text-input
                            [label]="'confirm password'"
                            [type]="'password'"
                            [parentForm]="registerForm"
                            [inputName]="'confirm'"></app-text-input>
                        @if (
                            controls.password.dirty &&
                            controls.confirm.dirty &&
                            registerForm.hasError('passwordMatch')
                        ) {
                            <span>Passwords must match</span>
                        }
                    </div>
                </div>
                <p-button
                    label="Submit"
                    severity="primary"
                    [raised]="true"
                    type="submit"
                    (click)="onSubmit()"
                    class="self-center"
                    [disabled]="registerForm.untouched || !registerForm.valid">
                </p-button>
            </form>
        }
    }
</div>
