div.secondary {
    display: flex;
    flex-direction: column;
    gap: var(--form-fields-gap);

    padding: 6rem 0.5rem 1rem;
    justify-items: center;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-decoration: none;
        color: var(--text-color);

        &.active {
            color: var(--primary-color);
        }

        &:hover {
            color: var(--primary-color);
        }
    }
}
